* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 1.1em;
    font-family: 'poppins';
}

header {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(115deg, #001669, #007296 1%, #007296 11%, #015673 15%,
            #000 23.57%, transparent 23.57%, transparent 100%),

        linear-gradient(109deg, transparent, #2d8427 23.57%, #205a06 41%, #000 45%,
            transparent 45%, transparent 100%),

        linear-gradient(109deg, transparent, #e79a07 45%, #e79a07 50%, #e79a07 52%,
            #444 55%, transparent 45%, transparent 100%),

        linear-gradient(109deg, transparent, #288ab1 55%, #288ab1 68%, #000 73%,
            transparent 73%, transparent 100%),

        linear-gradient(109deg, transparent, #de491e 73%, #de491e 100%);
    background-size: cover;
}

div.container {
    backdrop-filter: blur(5px);
    animation: blur 5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    animation: color 5s ease;
}

@keyframes blur {
    from {
        backdrop-filter: blur(0);
    }

    to {
        backdrop-filter: blur(5px);
    }
}


@keyframes color {
    from {
        background-color: transparent;
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

div.nav {
    height: 50%;
    background-color: black;
    position: fixed;
}

nav>a {
    margin-right: 15px;
    font-size: 1.2em;
}

div.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

div.text {
    position: absolute;
    top: 20%;
}